<div class="row">
    <div class="col-12">
      <h3>Find Nutrients</h3>
      <div class="itesm serch">
        <div class="form-group">
          <label for="exampleFormControlInput1">Serch for:</label>
          <input
            (input)="onSearchChange($event)"
            type="text"
            list="veggies"
            class="form-control"
            placeholder="Enter vegitable name"
          />
        </div>
        <datalist id="veggies">
          <option *ngFor="let vdata of vegidata">{{ vdata.name }}</option>
        </datalist>
      </div>
    </div>
    <div class="col-12 mt-5">
      <div *ngIf="dataavailable">
        <div class="dataishere">
          <div class="card p-5 border-primarybg-light text-dark">
            <div class="card-header text-center"><h4>{{ showingdata.name | titlecase }}</h4></div>
            <div class="card-body text-primary">
              <h5 class="card-title">Nutritional Values</h5>
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Nutrients</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sodium</td>
                    <td>{{ showingdata.nutriants.Sodium }}</td>
                  </tr>
                  <tr>
                    <td>Iron</td>
                    <td>{{ showingdata.nutriants.Iron }}</td>
                  </tr>
                  <tr>
                    <td>Potassium</td>
                    <td>{{ showingdata.nutriants.Potassium }}</td>
                  </tr>
                  <tr>
                    <td>Fat</td>
                    <td>{{ showingdata.nutriants.Fat }}</td>
                  </tr>
                  <tr>
                    <td>Calcium</td>
                    <td>{{ showingdata.nutriants.Calcium }}</td>
                  </tr>
                  <tr>
                    <td>Sugars</td>
                    <td>{{ showingdata.nutriants.Sugars }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!dataavailable">
        <div class="card text-center p-3 mb-2 bg-danger text-white">
          <p>Data not found</p>
        </div>
      </div>
    </div>
  </div>
  